$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';


$body-bg: #f5f5f6 !default;

/* Material Design Palatte */
$color-md-dark: #12005e;
$color-md-base: #4a138c;
// gray scale
$color-md-light: #7c43bd;
$color-md-med-gray: #e1e2e1;
$color-md-light-gray: #f5f5f6;
$color-md-gray-text: #616161;


/* FONTS */
$weight-normal: 400;
$weight-bold: 700;
$weight-semibold: 500;
$weight-light: 300;
