
<div>
  <div class="top_menu">
    <div class="title"><span class="header-icon"></span>Help Desk</div>
    <div class="sub-title">This bot is built to work as a helpdesk</div>
  </div>
  <ul #scrollMe class="messages">


    <li *ngFor="let message of messages" class={{message.from.name}}>

      <span style="white-space: pre-line" *ngIf="message.text!==undefined "> {{ message.text }}</span>
<span style="white-space: pre-line" *ngIf="message.text===undefined && message.attachments[0].content!==undefined"> {{ message.attachments[0].content.text }}</span>
<img [src]="message.attachments[0].contentUrl" *ngIf= "message.text===undefined && message.attachments[0].content===undefined" width="600" height="500">


</li>
</ul>
<div class="bottom_wrapper clearfix">
  <div class="message_input_wrapper">
    <input class="message_input" placeholder="Type your message here..." [(ngModel)]="message" (keyup.enter)="send()" />
  </div>
  <button class="btn btn-secondary" (click)="send()">
   SEND
   <i class="fa fa-paper-plane" aria-hidden="true"></i>
  </button>


</div>
</div>